@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Lobster&family=Poppins&family=Roboto:wght@500&family=Source+Serif+Pro&display=swap');
:root{
    --background: #000;
    --background-radial: radial-gradient(#331a3a, #000);
    --borders: #caacfa;
    --text-violeta: #331a3a;
    --text-ocre: #d2b48c;
    --text-rosa: #ecacb7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style-type: none;
}
/*header*/
header{
    background-image: url(./imagenes/background.jpg);
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    border-bottom: 2px ridge var(--borders);  
}
/*logo*/
.logo{
    height: 90%;
}
/*navbar*/
.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-list{
    gap: 60px;
}
.navbar-list a{
    color: var(--text-violeta);
    font-weight: 600;
}
.navbar-list a:hover{
    text-decoration: underline;    
    transition: 400ms;
}
/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: var(--background);
}
/*hero*/
#hero{
    margin-top: 110px;
    padding: 0px 40px;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 4px ridge var(--borders);
    width: 50%;    
    height: 432px;
    padding: 0px 10px;
    margin-top: 18px;
    background: var(--background-radial);  
    border-radius: 30px;    
}
.hero-info h1{
    text-align: center;
    width: 80%;
    min-width: 500px;
    font-size: 35px;    
    font-weight: 800;
    color: var(--text-rosa);
}
.hero-info p{
    width: 70%;
    font-size: 17px;
    text-align: justify;
    font-style: oblique;
    line-height: 30px;
    font-weight: 600;
    color: var(--text-ocre);
}
.hero-info p > span{
    font-weight: 900;        
}
.hero-info a{
    width: 120px;
    color: var(--text-violeta); 
    background: var(--text-rosa);
    text-align: center;
    align-self: flex-start;
    margin-left: 34px;
    padding: 8px 0px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    border: 3px solid var(--text-violeta);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;     
}
.hero-info a:hover{   
    -webkit-transform: scale(1.02,1.02);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 300ms;
    -moz-webkit-transform: scale(1.02,1.02);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 300ms;
}
.hero-img{
    margin-top: 18px;
}
.hero-img img{
    width: 671px;
    height: 431px;
    border-radius: 30px;
    margin-top: 7px;
    border: 5px ridge var(--borders);
}
/*Párrafo informativo*/
#info{   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 10px;
}
.p-info{
    width: 80%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;           
    padding: 10px 0px;    
    border-bottom: 2px ridge var(--borders);
}
.p-info p{
    font-size: 16px;
    width: 90%;
    color: var(--text-rosa);
    line-height: 20px;
}
.p-info p:last-child{
    font-weight: 700;
    font-style: oblique;
    text-align: center;
}

